<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PROJECT JS</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

        <!-- Fontawasome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- CSS Custom -->
        <link rel="stylesheet" href="style.css">

        <script type="text/javascript" src="../scripts/functions.js"></script>
        <script type="text/javascript" src="../scripts/route.js"></script>
        <script type="text/javascript" src="../scripts/scripts.js"></script>
    </head>

    <body>
    <header>
        <nav>
            <h1>PROJET NFT</h1>
            <ul style="display: flex" class="float-right">
                <li><a title="page accueil" href="#/">Accueil</a></li>
                <li><a title="page favoris nft" href="#/Favoris">Favoris</a></li>
                <li><a title="page historique" href="#/Historique">Historique</a></li>
                <li><a title="page contact" href="#/Contact">A Propos</a></li>
            </ul>
        </nav>
        <a href="#main">
            <!-- <i class="fa-solid fa-circle-arrow-down"></i> -->
            <i class="fa-solid fa-heart"></i>
        </a>
    </header>
    <main id="main">
        <form id="searchBar">
            <input type="search" name="search" placeholder="Rechercher">
            <i id="clearSearch" class="fa-solid fa-xmark"></i>
        </form>
        <section id="app">

            <!-- NFT list will be there -->

        </section>
    </main>

    <footer class="container">
        <div class="row">
            <div class="column">
                <h4>Équipe</h3>
                <ul>
                    <li>Lucas Yvernaux</li>
                    <li>Alan Bart</li>
                    <li>Kaça Kester</li>
                </ul>
            </div>
            <div class="column">
                <h4>Contact</h3>
                <ul>
                    <li>ECV Digital Paris</li>
                    <li><a href="mailto:ecv@projet_lak.fr">ecv@projet_lak.fr</a></li>
                    <li><a href="tel:0185082686">01 85 08 26 86</a></li>
                </ul>
            </div>
            <div class="column">
                <h4>Plan du site</h3>
                <ul>
                    <li><a title="page accueil" href="#/">Accueil</a></li>
                    <li><a title="page favoris nft" href="#/Favoris">Favoris</a></li>
                    <li><a title="page contact" href="#/Contact">A Propos</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <p class="copyright">Team "LAK" © 2022</p>
        </div>
    </footer>
    </body>
</html>