<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PROJECT</title>
    </head>

    <body>
        <h1>PROJET NFT</h1>
        <div id="myDiv"></div>
    </body>
<script>
    const m3oToken = "NDc4MTZmMzAtYWYxYS00ZDhmLTk4YTQtMjI5MjNjNGI1NzU3";
    fetch("https://api.m3o.com/v1/helloworld/Call", {
        body: '{"name": "John"}',
        headers: {
            Authorization: "Bearer NDc4MTZmMzAtYWYxYS00ZDhmLTk4YTQtMjI5MjNjNGI1NzU3",
            "Content-Type": "application/json"
        },
        method: "POST"
    }).then(response => response.json()).then(res => console.log(res))
</script>
</html>