<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PROJECT</title>
        <script src="../scripts/route.js" defer></script>
        <script src="../scripts/functions.js"></script>
    </head>

    <body>
    <header>
        <nav>
            <ul>
                <li><a title="page accueil" href="#/">Accueil</a></li>
                <li><a title="page favoris nft" href="#/Favoris">Favoris</a></li>
                <li><a title="page contact" href="#/Contact">A Propos</a></li>
            </ul>
        </nav>
    </header>
    <br>
    <main>
        <section id="app"></section>
    </main>
    <br>
    <footer> FOOTER</footer>
    </body>
</html>